.cont1 {
    width: 100%;
}

body{
    background-color: #a0e9e1;


}

.name {
    
    font-family: 'Great Vibes', cursive;
    color: rgb(6, 11, 110);
    text-align: center;
    font-size: xxx-large;
    margin-top: 10%;
   
}

#p1{
    
    font-size: xx-large;
    font-family: monospace;
    color: #9d00b8;
    text-align: center;
    
}

#p2{
    color: rgb(8 121 66);
    
}


.bullets{

    margin-top: 5%;
    border-style: dotted;
    border-width: 10px; 
    border-bottom: none;
    width: 10%;
    size: 25px;
    color: rgb(57, 199, 199);
}
.btn
{
    display: inline;
    position: absolute;
    margin-top: 52rem;
    /* padding: 0 37px; */
    /* border: 1px solid greenyellow; */
    margin-left: -36rem;
    
    
}



.bt{
    border: 1px solid yellowgreen;
    margin-left: 20px;
    background: linear-gradient(45deg, rgb(20 255 157), transparent);
    width: 89px;
    height: 33px;
    font-size: medium;
    font-family: cursive;
    border-radius: 20px;
}

.bt a{
    text-decoration: none;
    color: navy;

}



.gt{
    
        /* border: 1px solid rgb(39, 238, 52); */
        width: fit-content;
        /* text-align: center; */
        margin: auto;
        margin-top: 5%;
        color: teal;
        border-radius: 34px;
        font-size: x-large;
        /* font-style: normal; */
        text-decoration-thickness: 1px;
        text-decoration: underline;
        text-decoration-thickness: from-font;
        font-family: cursive;
   
}

.gint{


    margin-top: 5%;
    margin-left: 30%;
   
}


.ic{
    /* border: 1px solid black; */
    margin-left: 6.5%;
}

.footer
{
      
      height: fit-content;
      margin-top: 13rem;
}

.cp{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkblue;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}


.lap{
        /* border: 1px solid #cf5b5b; */
        display: block;
        margin: auto;
}

.code1{
        /* border: 1px solid red;
        width: 200px;
        margin-left: 15%;
        margin-top: 15%; */
        width: 15%;
        margin-right: 2%;
    }
    .code2{
        /* border: 1px solid red;
        width: 200px;
        margin-left: 15%;
        margin-top: 15%; */
        width: 15%;
        margin-left: 2%;
}

.p1{
          /* height: 10%; */
    /* border: 1px solid red; */
    /* margin-left: 2rem; */
    /* margin-bottom: 10%; */
    width: 50%;
    padding-top: 5%;
}

.box1{
        /* border: 1px solid blue; */
        display: flex;
        margin-left: 10%;
        margin-top: 5%;
}
.box2{
        /* border: 1px solid blue; */
        display: flex;
        margin-left: 10%;
        margin-top: 5%;
}

.line{
    color: cadetblue;
    margin-top: 5%;
    border: 1px solid;
    border-width: 2px;
    color: steelblue;
    width: 50%;
}
.line2{
        color: cadetblue;
    /* margin-top: 5%; */
    /* border: 1px solid; */
    /* border-width: 2px; */
    /* color: steelblue; */
    display: inline-block;
    width: 1px;
    height: 4rem;
    background-color: darkmagenta;
}

.vr{
    border: 1px solid red;
}