.cont1 {
    width: 100%;
}

body{
    background-color: #a0e9e1;


}

.name {
    
    font-family: 'Great Vibes', cursive;
    color: rgb(6, 11, 110);
    text-align: center;
    font-size: xxx-large;
    margin-top: 10%;
   
}

#p1{
    
    font-size: xx-large;
    font-family: monospace;
    color: #9d00b8;
    text-align: center;
    
}

#p2{
    color: rgb(8 121 66);
    
}


.bullets{

    margin-top: 5%;
    border-style: dotted;
    border-width: 10px; 
    border-bottom: none;
    width: 10%;
    size: 25px;
    color: rgb(57, 199, 199);
}




.bt{
    border: 1px solid #6c199e;
    margin-left: 20px;
    background: linear-gradient(45deg, rgb(44 255 167), transparent);
    width: 89px;
    height: 33px;
    font-size: medium;
    font-family: cursive;
    border-radius: 20px;
}


.bt2{
   border: 1px solid rebeccapurple;
       /* border: 1px solid rebeccapurple; */
       margin: auto;
       display: block;
       margin-top: 5%;
       border: 1px solid;
       border-radius: 0.3rem;
       width: 5%;
       height: 4%;
}

.hire
{
    text-decoration: none;
    color: green;
    font-size: larger;
    font-family: math;
}



.bt a{
    text-decoration: none;
    color: navy;

}



.gt{
    
        /* border: 1px solid rgb(39, 238, 52); */
        width: fit-content;
        /* text-align: center; */
        margin: auto;
        margin-top: 5%;
        color: teal;
        border-radius: 34px;
        font-size: x-large;
        /* font-style: normal; */
        text-decoration-thickness: 1px;
        text-decoration: underline;
        text-decoration-thickness: from-font;
        font-family: cursive;
   
}

.gint{


    margin-top: 5%;
    margin-left: 30%;
   
}


.ic{
    /* border: 1px solid black; */
    margin-left: 6.5%;
}

.footer
{
      
      height: fit-content;
      margin-top: 5%;
}

.cp{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: darkblue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}


.lap{
        /* border: 1px solid #cf5b5b; */
        display: block;
        margin: auto;
}

.code1{
        
        width: 15%;
        margin-right: 5%;
    }
    .code2{
      
        width: 15%;
        margin-left: 2%;
}

.p1{
     
    width: 50%;
    padding-top: 5%;
}

.box1{
        /* border: 1px solid blue; */
        display: flex;
        margin-left: 10%;
        margin-top: 5%;
}
.box2{
        /* border: 1px solid blue; */
        display: flex;
        margin-left: 10%;
        margin-top: 5%;
}




.p11
{
    width: 50%;
    padding-top: 5%;
}

.p12{
     
    width: 50%;
    padding-top: 3%;
}

.proj{
    text-decoration: none;
}


.cld1{
       /* border: 1px solid red; */
       display: block;
       margin-left: 30%;
       margin-top: 5%;
}
.cld2{
    margin-left: 60%;
    /* border: 1px solid rgb(35, 84, 182); */
    /* margin-bottom: 5%; */
    display: block;
}

.getpara{
    
    text-align: center;
    margin-top: 5%;
    font-family: ui-serif;
    font-size: large;
}


.contact{
    background-color: #a0e9e1;
    /* background-color: #a0e9e1; */
    display: grid;
    /* width: 50%; */
    margin-left: 40%;
    margin-top: 10%;
    grid-auto-columns: 40%;
}

.sub{
    border: 1px solid rgb(13, 78, 198);
    /* border: 1px solid greenyellow; */
    width: 30%;
    display: block;
    margin: auto;
    font-size: large;
    font-family: math;
}

.sub:hover{
    cursor: pointer;
    background-color: rgb(43, 213, 43);
    color: azure;
}